@model RoadReady.Models.AdminReport

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AdminReport</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReportDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReportDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalReservations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalReservations)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalRevenue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalRevenue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TopCars)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TopCars)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MostActiveUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MostActiveUser)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ReportId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
